.book-image {
  max-width: 200px;
  max-height: 400px;
}

.book-card {
  margin: 10px;
}

.register-card{
  align-items: center;
}

.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 1rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}